{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Admin </title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'teacher/images/istockphoto-1216658448-612x612-removebg-preview.png'%}"type="png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{% static 'teacher/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'teacher/plugins/node-waves/waves.css' %}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{% static 'teacher/plugins/animate-css/animate.css' %}" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="{% static 'teacher/plugins/morrisjs/morris.css' %}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{% static 'teacher/css/style.css' %}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'teacher/css/themes/all-themes.css' %}" rel="stylesheet" />

    {% comment %} Sweetalert {% endcomment %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

    <style>
        .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        }
        
        .tooltip:hover .tooltiptext {
        visibility: visible;
        }
    </style>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
  
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">ADMIN - Manage Students</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <a href="{% url 'teacher_logout' %}">
                        <button class="btn btn-warning" style="margin-top: 16px;">Logout</button>
                    </a>                
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info text-center">
                <div class="image">
                    <img src="{% static 'teacher/images/user.png'%}" width="48" height="48" alt="User" />
                    <h4>Adminstrator</h4>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li >
                        <a href="{% url 'teacher_dashboard' %}">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li class='active'>
                        <a href="#" class="menu-toggle">
                                                        <i class="material-icons">manage_accounts</i>

                            <span>Student Management</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{% url 'teacher_add_student' %}">Add Student</a>
                            </li>
                            <li class='active'>
                                <a href="{% url 'teacher_manage_student' %}">Manage Student</a>
                            </li>
                            <li>
                                <a href="{% url 'teacher_all_students' %}">All Students</a>
                            </li>
                            <li>
                                <a href="{% url 'teacher_active_students' %}">Active Students</a>
                            </li>
                        </ul>
                    </li>

                    <li >
                        <a href="#" class="menu-toggle">
                                                        <i class="material-icons">school</i>

                            <span>Class Management</span>
                        </a>
                        <ul class="ml-menu">
                            <li >
                                <a href="{% url 'teacher_add_class_details' %}">Add Class Details</a>
                            </li>
                            <li >
                                <a href="{% url 'teacher_add_class_location' %}">Add Class Location</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="menu-toggle">
                            <i class="material-icons">assignment</i>
                            <span>Attendance Management</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{% url 'teacher_record_attendance' %}">Record Attendance</a>
                            </li>
                            <li>
                                <a href="{% url 'teacher_attendance_details' %}">Attendance Details</a>
                            </li>
                            <li>
                                <a href="{% url 'teacher_statistics_analysis' %}">Statistics Attendance Analysis</a>
                            </li>
                            {% comment %} <li>
                                <a href="{% url 'teacher_graph_analysis' %}">Graph Analysis</a>
                            </li> {% endcomment %}
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="menu-toggle">
                            <i class="material-icons">view_list</i>
                            <span>Load Balancing Management</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{% url 'teacher_load_balancing' %}">Load Balancing Details</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; Designed by<a href="https://sreyas.ac.in/">sreyas</a>.
                </div>
                 
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->

    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Manage Student </h2>
            </div>

            <table class="table table-hover card">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Student Photo</th>
                    <th class="text-center">Full Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Roll Number</th>
                    <th class="text-center">Age</th>
                    <th class="text-center">Phone Number</th>
                    <th class="text-center">Branch</th>
                    <th class="text-center">Section</th>
                    {% comment %} <th class="text-center">Gender</th>
                    <th class="text-center">Address</th> {% endcomment %}
                    <th class="text-center ">Status</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in student %}
                  <tr>
                    <th scope="row">{{forloop.counter0|add:student.start_index}}</th>
                    <td class="text-center"><img src="media/{{i.Student_Profile}}" style="width:60px; height:60px; border-radius:50% "></td>
                    <td class="text-center">{{i.Student_Name}}</td>
                    <td class="text-center">{{i.Student_Email}}</td>
                    <td class="text-center">{{i.Student_RollNumber}}</td>
                    <td class="text-center">{{i.Student_Age}}</td>
                    <td class="text-center">{{i.Student_Phone_Number}}</td>
                    <td class="text-center">{{i.Student_Branch}}</td>
                    <td class="text-center">{{i.Student_Section}}</td>
                    {% comment %} <td class="text-center">{{i.Student_Gender}}</td>
                    <td class="text-center">{{i.Student_Address}}</td> {% endcomment %}
                    <td id = 'status' class="">
                        {% if i.Student_Status == "accepted" %}
                        <label class="text-success">Accepted</label>
                        {% elif i.Student_Status == "rejected" %} 
                        <label class="text-danger">Rejected</label>
                        {% else %}
                        <label class="text-warning">Pending</label>
                        {% endif %}
                    </td>                    
                    <td class="text-center">
                        <div style="display:flex; flex-direction:row;"  >
                            <a href = "{% url 'change_student_status' i.Student_Id %}">
                                <button title ="Change the Student Status" class="btn btn-warning" style="margin-right: 10px !important;">Change Status
                                    <i class="material-icons" style="font-size:19px;">change_circle</i>
                                </button>
                            </a>
                            <a href = "{% url 'delete_student' i.Student_Id  %}">
                                <button title ="Delete the Student" onclick='return myFunction()' class="btn btn-danger ">Delete
                                    <i class="material-icons" style="font-size:19px;">delete_forever</i>
                                </button>
                            </a>
                        </div>
                    
                    <script>
                        function myFunction() {
                            if (confirm(" Proceed to delete the Student..! ") == true) {
                            } 
                            else {
                                return false;
                            }
                        }
                    </script>
                    {% endfor %}
                </td>
                </tbody>
            </table>
        {% comment %} Pagination start {% endcomment %}
            <nav aria-label="Page navigation example ">
                <ul class="pagination ml-2">
                    {% if student.has_previous %}
                        <!-- <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li> -->
                        <li class="page-item"><a class="page-link bg-info text-white" href="?page={{ student.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% if student.has_next %}
                    <li class="page-item"><a class="page-link bg-info text-white" href="?page={{ student.next_page_number }}">Next</a></li>
                    <!-- <li class="page-item"><a class="page-link" href="?page={{ r.paginator.num_pages }}">Last &raquo;</a></li> -->
                    {% endif %}
                </ul>
                Page {{ student.number }} of {{ student.paginator.num_pages }}.
            </nav>
        {% comment %} Pagination End {% endcomment %}
    </section>
   

    <!-- Jquery Core Js -->
    <script src="{% static 'teacher/plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'teacher/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Select Plugin Js -->
    <script src="{% static 'teacher/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'teacher/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'teacher/plugins/node-waves/waves.js' %}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'teacher/plugins/jquery-countto/jquery.countTo.js' %}"></script>

    <!-- Morris Plugin Js -->
    <script src="{% static 'teacher/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'teacher/plugins/morrisjs/morris.js' %}"></script>

    <!-- ChartJs -->
    <script src="{% static 'teacher/plugins/chartjs/Chart.bundle.js' %}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{% static 'teacher/plugins/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'teacher/plugins/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'teacher/plugins/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'teacher/plugins/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'teacher/plugins/flot-charts/jquery.flot.time.js' %}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'teacher/plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'teacher/js/admin.js' %}"></script>
    <script src="{% static 'teacher/js/pages/index.js' %}"></script>

    <!-- Demo Js -->
    <script src="{% static 'teacher/js/demo.js' %}"></script>
{% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <script>swal({
                    title: "Success!",
                    text: "{{message}}",
                    icon: "success",
                    button: "OK",
                });
                </script>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <script>swal({
                    title: "Warning :)",
                    text: "{{message}}",
                    icon: "warning",
                    button: "OK",
            
                });
                </script>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <script>swal({
                    title: "info :)",
                    text: "{{message}}",
                    icon: "info",
                    button: "OK",
                });
                </script>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <script>swal({
                    title: "error :)",
                    text: "{{message}}",
                    icon: "error",
                    button: "OK",
                });
                </script>
        
            {% endif %}
        {% endfor %}
    {% endif %}
</body>

</html>