{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <title>Location Based Attendance</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'student/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'student/assets/images/istockphoto-1216658448-612x612-removebg-preview.png' %}" type="png">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'student/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'student/assets/css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'student/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'student/assets/css/lightbox.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    {% comment %} Sweetalert {% endcomment %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  </head>

<body>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{% url 'home'%}" class="logo" style='font-size:20px;'>
                         Location Based Attendance
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                        <li><a href="{% url 'student_dashboard' %}" >Dashboard</a></li>
                        <li><a href="{% url 'student_profile' %}" >Profile</a></li>
                        <li><a href="{% url 'student_attendance_details' %}"  >QR Details</a></li>
                        <li ><a href="{% url 'student_record_attendance' %}" class="active" onclick = "initMap123()">Record Attendance</a></li>
                        <li ><a href="{% url 'student_myattendance' %}">My Attendance Details</a></li>
                        <li><a href="{% url 'student_logout' %}" style="text-decoration: underline !important;">Logout</a></li>  
                    </ul>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
    
    <img src="{% static 'student/assets/images/analytics-plan-strategy-insight-concept.jpg' %}" alt="" style="height: 650px;">
    <div class="video-overlay header-text">
        <div class="container d-flex col-12 justify-content-evenly" style = "margin-left:80px;">
          <div class = "card col-4" style="margin-top: 180px !important; height:410px">
            {% comment %} <button onclick = "initMap1()">Click here for refresh the location</button> {% endcomment %}
            <div id="map" style = "display:none;"></div> 
            {% comment %} <iframe src="" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> {% endcomment %}
            <iframe  id = "userLocation" src="https://www.google.com/maps/embed/v1/place?q=37.7749,-122.4194&key={{a}}" width="430" height="490" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <form method="post" enctype="multipart/form-data">
            <div class="card col-12 m-auto" style="margin-top: 180px !important; height:410px; width:400px">
              {% csrf_token %}
                <h5 class="mt-3 text-center">Record Attendance</h5><hr>
                <p style="margin-left: 10px;">Scan QR Code:</p>
                <i class="material-icons" style="font-size:90px; margin:auto;">qr_code_scanner</i>
                <h6 class="mt-3 text-center">or</h6>
                <label class="text-left" style="margin-left: 10px;">Upload QR Code:</label>
                <input type="file" name="stupQrcode" class="form-control mt-2 mb-4" accept="image/png/jpg" style="box-shadow: 5px 1px 18px 0px #888888;">
                <button type="submit" name="" class="btn btn-primary m-auto" onclick="getLocation()">Submit</button><br>
            </div>

            <input type="text"  id = "latitude-input" value="" name = "latitude" style="display:none;">
            <input type="text"  id = "longitude-input" value="" name = "longitude" style="display:none;">

          </form>
        </div>
    </div>
  </section>

                <div id="map11"></div>
                {% comment %} <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15673.873144396658!2d{{longitude}}!3d{{latitude}}!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x{{map_zoom}}!2s{{location_name}}!5e0!3m2!1sen!2sus!4v1620495175049!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> {% endcomment %}
                <script>
                  
                  function initMap() {
                    if (navigator.geolocation) {
                      navigator.geolocation.getCurrentPosition(function(position) {
                        // const myIframe = document.getElementById('userLocation');
                        var pos = {
                          lat: position.coords.latitude,
                          lng: position.coords.longitude
                          
                        };
                        
                        var map = new google.maps.Map(document.getElementById('map11'), {
                          zoom: 14,
                          center: pos
                        });
                        var marker = new google.maps.Marker({
                          position: pos,
                          map: map
                        });
                        document.getElementById('latitude-input').value = pos.lat;
                        document.getElementById('longitude-input').value = pos.lng;
                      }, function() {
                        // Handle errors
                        document.getElementById('latitude-input').value = "error";
                        document.getElementById('longitude-input').value = "error";
                        id
                        
                      });
                    } else {
                      // Geolocation is not supported
                    }
                  }
                  
                </script>

                <style>
                  #map {
                    height: 600px !important;
                    width: 100%;
                  }
                </style>
                
                 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVapcdwQrjOhfAhDdUeXOnEhjMcyaXEg8"></script> 

                 <script>
                  function initMap123() {
                    navigator.geolocation.getCurrentPosition(function(position) {
                      var map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: position.coords.latitude, lng: position.coords.longitude},
                        zoom: 15
                        //
                      });
                      var lat = position.coords.latitude
                      var lat = lat.toString();
                      var long = position.coords.longitude
                      var long = long.toString();
                      console.log(lat,long,'string lat long')
                      console.log(position.coords.latitude, position.coords.longitude,position.coords, 'location')
                      var iframesrc = document.getElementById('userLocation')
                      var currentSrc = iframesrc.getAttribute('src');
                      var newSrc = 'https://www.google.com/maps/embed/v1/place?q='+lat+','+long+'&key=AIzaSyBVapcdwQrjOhfAhDdUeXOnEhjMcyaXEg8'; // set a new value for the src attribute
                      iframesrc.setAttribute('src', newSrc);
                      console.log(iframesrc.src)
                    });
                  }
                  window.onload = initMap123;
                </script>  

                {% comment %} <script>
                  let x = 0.0
                  let y = 0.0
                  function initMap1() {
                    if (navigator.geolocation) {
                      navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = {
                          lat1: position.coords.latitude,
                          lng1: position.coords.longitude
                          
                        };
                        x = pos.lat1
                        y = pos.lng1
                        console.log(x,y, 'co-ordinates')
                        let map_src ='https://maps.google.com/maps?q='+ `${x}` +','+ `${y}` +'&hl=es&z=14&amp;output=embed'
                        let outmaps = document.getElementById("userLocation")
                        outmaps.setAttribute('src', map_src)
                        // outmaps.src = map_src
                        console.log(outmaps.src)
                      }, );
                    }
                    else {
                      // Geolocation is not supported
                    }
                  }
                </script> {% endcomment %}

    <section class="contact-us text-center" id="contact" style="height:230px">
      
      <div class="d-flex justify-content-evenly">
          <div style="margin-top:-90px">
              <h5 style="color:white">Address</h5>
              <p style="color:white">sreyas</p> 
              <p style="color:white"> Design: <a href="https://sreyas.ac.in" target="_parent" title="free css templates">sreyas</a></p>
          </div>
          
          <div style="margin-top:-90px">
              <h6 style="color:skyblue;text-align:left;">Quick Links</h6>
              <ul>
                <a href="{% url 'home'%}"><li style="color:white; text-decoration:underline; text-align:left;">Home</li></a>
                <a href="{% url 'student_login'%}"><li class="text-left" style="color:white; text-decoration:underline; text-align:left;">Student Login</li></a>
                <a href="{% url 'teacher_login'%}"><li style="color:white; text-decoration:underline; text-align:left;">Teacher Login</li></a>
                <a href="{% url 'aboutus'%}"><li style="color:white; text-decoration:underline; text-align:left;">About us</li></a>
                <a href="{% url 'contactus'%}"><li style="color:white; text-decoration:underline; text-align:left;">Contact us</li></a>            </ul>
          </div>
          
      </div>
    </section>
          {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <script>swal({
                            title: "Success!",
                            text: "{{message}}",
                            icon: "success",
                            button: "OK",
                        });
                    </script>
                
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <script>swal({
                            title: "Warning :)",
                            text: "{{message}}",
                            icon: "warning",
                            button: "OK",
                        
                        });
                    </script>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <script>swal({
                            title: "info :)",
                            text: "{{message}}",
                            icon: "info",
                            button: "OK",
                        });
                    </script>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <script>swal({
                            title: "error :)",
                            text: "{{message}}",
                            icon: "error",
                            button: "OK",
                        });
                    </script>
                {% endif %}
            {% endfor %}
          {% endif %}
  <!-- Scripts -->
  
    <script src="https://maps.googleapis.com/maps/api/js?key={{a}}&callback=initMap" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{a}}&callback=initMap123" async defer></script>

  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'student/vendor/jquery/jquery.min.js' %}"></script>
    {% comment %} <script src="{% static 'student/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}

    <script src="{% static 'student/assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'student/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'student/assets/js/lightbox.js' %}"></script>
    <script src="{% static 'student/assets/js/tabs.js' %}"></script>
    <script src="{% static 'student/assets/js/video.js' %}"></script>
    <script src="{% static 'student/assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'student/assets/js/custom.js' %}"></script>
    
    {% comment %} <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script> {% endcomment %}
</body>

</body>
</html>